
html, body {
  width: 100px;
}

.hidden {
  display: none;
}

.button {
  user-select: none;
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.enabled:hover {
  background-color: #40FF0C;
}

.enabled {
  background-color: #5BDA38;
}

.disabled {
  background-color: #D54A4A;
}

.disabled:hover {
  background-color: #F10F0F;
}
